<%= render "layouts/navbarmain", locals: {user: @user} %>

This is the index page
{{44.55 | currency}}


<div>
  Here are my tabs:
  <formatted-address></formatted-address>
  <!-- View Tabs  -->
  <view-tabs></view-tabs>
</div>

