<%= render "layouts/navbarmain", locals: {user: @user} %>

This is the index page
{{44.55 | currency}}

<br>

 <% @event.each do |e| %>
 <%= e.eventname %> <br>
 <% end %>

<div>
  Here are my tabs:
  <!-- View Tabs  -->
  <view-tabs></view-tabs>
</div>

