<!-- Signup Modal -->
 <li><a href="#" data-toggle="modal" data-target=".signup-modal">Sign up</a></li>

<div class="modal fade signup-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel">Register </h3>
    </div>
    <div class="modal-body">
      <form action="/submit" method = "post">
        <p>
          <label for="user">Username:</label><br>
          <input type="text" name="username" id="user" autofocus placeholder="username"><br>*please ensure username is 6-30 characters long
        </p>
        <p>
          <label for="pass">Password:</label><br>
          <input type="password" name="password" id="pass" placeholder="password"><br>*please ensure password is 6-30 characters long
        </p>
        <p>
          <label for="email">Email:</label><br>
          <input type="email" name="email" id="email" placeholder = "email"><br>*please ensure your email contains @ symbol
        </p>
        <p>
          <input type="submit" value="Register" class ="btn">
        </p>
      </form>
    </div>
    <div class="modal-footer">
        Already a user?
        <a data-dismiss="modal" data-toggle="modal" data-target=".signup-modal">Sign in here</a>
    </div>

    </div>
  </div>
</div>


<!-- Login Modal -->
<li><a href="#" data-toggle="modal" data-target=".login-modal">Login</a></li>

<div class="modal fade login-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel">Log in</h3>
      </div>

      <div class="modal-body">
        <form action="/login" method = "post">
          <p>
            <label for="user">Username:</label><br>
            <input type="text" name="username" id="user" autofocus>
          </p>
          <p>
            <label for="pass">Password:</label><br>
            <input type="password" name="password" id="pass">
          </p>
          <p>
            <input type="submit" value="Log In" class ="btn ">
          </p>
        </form>
      </div>

      <div class="modal-footer">
        New user?
        <a data-dismiss="modal" data-toggle="modal" data-target=".login-modal">Register here</a>
      </div>
    </div>
  </div>
</div>